body{
   background-image: url(/public/img/bright-spacious-gym-interior-modern-260nw-2497928205.webp);
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    flex-wrap: wrap;
}
.base{
    background-color: rgba(0, 0, 0, 0.288);
}
/*base*/
footer{ 
  background-color: orange;
  max-width: 100%;
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
   flex-wrap: wrap;
}
.icons{
    float: right;
    margin-top: -18px;
    margin-left: 5px;
    margin-right: 50px;
    flex-wrap: wrap;
}
.reseau{
    flex-wrap: wrap;
}
.flex {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:orange;
    padding: 13px;
    margin-right: -30px;
    margin-left: -10px;  
    margin-top: -10px;
    flex-wrap: wrap;
}
a{
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;  
    flex-wrap: wrap;  
    margin: 5px;  
   
}

 /*la page tarifs*/
 
.tarifs1{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
    flex-wrap: wrap;
   
}
.tarifs2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: -10px;
    flex-wrap: wrap;
}
.tarifs1 div , .tarifs2  div{
  background: linear-gradient(to bottom, beige, orange);
    width: 300px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-left: 50px;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    box-shadow: 5px 5px 5px orange;
   
}
 .tarifs1 p , .tarifs2 p {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    margin-top:100px ;
 
 }
 .tarifs1 input, .tarifs2 input{
    width: 100px;
    height: 50px;
    background-color: black;
    color: orange;
    margin: auto;
    border: none;
    border-radius: 30%;
 }
/* la page d'accueil*/
.pagaccueil{
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
}

.accueil>p{
    text-align: center;
}
.accueil{
    background-color: rgba(244, 255, 240, 0.66);
    max-width:400px ;
    width: 100%;
    height: 375px;
    padding: 15px;
    margin-top:55px;  
    margin-left: 200px;
    margin-right: 100px; 
}
.img1{
   
    background-image: url(/public/img/default.avif);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 55px;
    margin-left: 200px;
    margin-right: 100px;
}
.img2{
    background-image: url(/public/img/insert-09.webp);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 55px;
    margin-left: 200px;
    margin-right: 90px;
}
.logo{
    background-image: url(/public/img/logo.webp);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
   margin: 0 auto;
   border-radius: 100%;
   margin-top: -9px;
   flex-wrap: wrap;
} 
/* le base*/

button{
    background-color: black;
    color: beige;
    padding: 10px;
    border-radius: 20%;
    margin-left: 700px;
    margin-top:50px;
    flex-wrap: wrap;
}
span{
    font-family: Bradley Hand, cursive;
    text-shadow: 4px 4px 4px red;
    margin-left: -50px ;
  
    flex-wrap: wrap;
}
/* page de contact*/
.maps{
    float: right;
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
}
.contact{
    width: 50%;
    background-color: orange;
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    width: 300px;
    margin:10px auto;
}
.adresse{
    display: flex;
    flex-wrap: wrap;
    margin:  auto;
}
@media screen and (max-width=600px){
    .adresse{
        width: 100%;
        flex-wrap: nowrap;
    }
    
}

.formillaire{
    width: 400px; 
    height: 400px;
    background-color: orange;
    padding: 5px;
    margin-top: 10px;
    margin-left: 400px;   
    flex-wrap: wrap;
 }
 input , textarea{
    display: block;
 }

/*page cours*/

.container{
    display: flex;
   justify-content: space-around;  
   margin: auto;
   margin-top: 20px;
   width: 100%;
   flex-wrap: wrap;
}
@media screen and (max-width=600px) {
    .container{
        width: 25%;
        flex-wrap: nowrap;
    }
    
}
.items{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 50px;
   background-color: white;
    text-align: center;
    padding-top: 10px;
    border: 3px dashed black;
    box-shadow: 4px 4px 4px black;
}
.photo1{
    background-image: url(https://img.freepik.com/vecteurs-premium/femme-sautante-silhouette-vectorielle-femelle-silhouette-couleur-noire-silhouette-fond-blanc-11_554682-8309.jpg); 
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.photo2{
    background-image: url(https://media.istockphoto.com/id/1465621883/vector/pilates-logo.jpg?s=612x612&w=0&k=20&c=W9SU_MntkTKuxMTuwZ5UlaBlXxCHIr24m2lvX4QxIEw=);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.photo3{
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p1/15158785-gants-de-boxe-logo-vecteur-icone-illustration-vectoriel.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.photo4{
    background-image: url(https://t3.ftcdn.net/jpg/08/59/23/34/360_F_859233487_Mb797hnzB0XOLuH9LbQLgZ9oCz1XpHmn.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.photo5{
    background-image: url(https://publicdomainvectors.org/tn_img/Female-Yoga-Pose-Silhouette-13.webp);  
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

/*le titre des pages*/
h2{
    background-color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    color: red;
   margin: 15px auto;
    padding-top: 15px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
/*la page montion légale*/
.montion{
    background-color: black;
    color: aliceblue;
    width: 300px;
    height: 600px;
    padding: 20px;
    text-align: justify;
}
